.row.justify-content-center
  .col-lg-6
    .text-center
      %h1 NeoOtakuWord -ネオオタク用語-
    %table.table.table-hover{ border: 2, bordercolor: '#333333', width: '100%' }
      %thead.thead-dark
        %tr
          %th No.
          %th オタク用語
          %th 意味
          %th カテゴリー
      %tbody.table-primary
        - @otaku_words.each do |otaku_word|
          %tr{ data: { href: otaku_word_path(otaku_word) } }
            %td= otaku_word.id
            %td= otaku_word.word
            %td= otaku_word.meaning
            %td
              %ul
                - otaku_word.categories.each do |category|
                  %li= category.name